@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }
  }

  .container {
    margin: 0 2rem;
  }
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }

  .container {
    margin: 0 3rem;
  }
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }

  .container {
    margin: 0 2rem;
  }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .filter {
    display: block;
    .author-input {
      margin: 0.5rem 7rem !important;
    }
  }

  .container {
    margin: 0 14rem;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .content-publications {
        flex-basis: 77%;
      }
    
      .content-sumary {
        flex-basis: 20%;
      }
    }
  }
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  
  .filter {
    display: block;
    .author-input {
      margin: 0.5rem 7rem;
    }
  }

  .container {
    margin: 0 10rem;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .content-publications {
        flex-basis: 77%;
      }
    
      .content-sumary {
        flex-basis: 20%;
      }
    }
  }
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .filter {
    display: block;
    .author-input {
      margin: 0.5rem 7rem;
    }
  }

  .container {
    margin: 0 7rem;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .content-publications {
        flex-basis: 77%;
      }
    
      .content-sumary {
        flex-basis: 20%;
      }
    }
  }
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      margin: 0.3rem;

      &.router-link-exact-active {
        color: #42b983;
      }
    }

    .filter {
      display: block;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }


  .container {
    margin: 0 14rem;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .content-publications {
        flex-basis: 80%;
      }
    
      .content-sumary {
        flex-basis: 20%;
      }
    }
  }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  .filter {
    display: block;
    .author-input {
      margin: 0.5rem 1rem;
    }
  }
  
  .container {
    margin: 0 14rem;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .content-publications {
        flex-basis: 80%;
      }
    
      .content-sumary {
        flex-basis: 20%;
      }
    }
  }
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }

}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }

}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  #nav {
    .nav-bar {
      flex-wrap: wrap;
      * {
        margin: 0.3rem;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      .author-input {
        margin: 0.5rem 1rem;
      }
    }
  }

}
